body {
    background-color: #004953;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
    font-style: italic;
}
p {
    color: white;
}
p.mono {
    font-family: monospace;
}
a {
    color: #a86bde;
}
div.ch {
    text-align: center;
    background-color: #eee61b;
}
p.m {
    font-style: bold;
    color: white;
}